.shine {
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.shine::after{
    content: '';
    position: absolute;
    top: -210%;
    left: -310%;
    width: 300%;
    height: 300%;
    opacity: 0;
    transform: rotate(30deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 20%,
      rgba(255, 255, 255, 0.5) 75%,
      rgba(255, 255, 255, 0.0) 100%
    );
}

.shine:hover::after{
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.2s;
    transition-timing-function:ease-out
}