@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "JetBrains Mono", monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#cursor-lag {
  opacity: 0;
  transition: opacity 500ms ease;
  mix-blend-mode: difference;
}

main:hover > #cursor-lag {
  opacity: 1;
}



#name {
  font-family: "Josefin Slab", serif;
}
