@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "JetBrains Mono", monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#cursor {
  opacity: 0;
  transition: opacity 500ms ease;
}

main:hover > #cursor {
  opacity: 1;
}

#name {
  font-family: 'Josefin Slab', serif;
}

  /*cursor: none;*/

.hover-this {
  transition: all 0.3s ease;
}

span {
  display: inline-block;
  color: #fff;
  transition: transform 0.1s linear;
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
  transform:translate(-50%, -50%) scale(8);
}
