@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "JetBrains Mono", monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.cursor {
  opacity: 0.3;
  transition: opacity 500ms ease;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 50;
}

.icon {
  opacity: 0;
  transition: opacity 500ms ease;
}

.icon-show {
  opacity: 1;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

#name {
  font-family: "Josefin Slab", serif;
}
